@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* --------------------ROOT VARIABLE -------------------- */
:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark:#363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant:#677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light); 
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a{
    color: var(--color-dark);
}

img{
 display: block;
 width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.8;
}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: 0.87rem;
}
h4{
    font-size: 0.8rem;
}
h5{
    font-size: 0.77rem;
}
small{
    font-size: 0.75rem;
}
.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}
.text-muted{
    color: var(--color-info-dark);
}
p{
    color: var(--color-dark-variant);
}
b{
    color: var(--color-dark);
}
.primary{
    color: var(--color-primary);
}
.danger{
    color: var(--color-danger);
}
.success{
    color: var(--color-success);
}
.warning{
    color: var(--color-warning);
}


aside{
 height: 100vh;
}
aside .top{
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}
aside .logo{
    display: flex;
    gap: 0.8rem;
}
aside .logo img{
    width: 2rem;
    height: 2rem;
}
aside .close{
    display: none;
}


aside .sidebar{
    background: white;
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}
aside h3{
    font-weight: 500;
}
aside .sidebar a{
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}
aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}
aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}
aside .sidebar a.active{
    background: var(--color-light);
    color: var(--color-dark);
    margin-left: 0;
}
aside .sidebar a.active:before{
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-dark);
}
aside .sidebar a.active span{
    color: var(--color-dark);
    margin-left: calc(1rem - 3px);
}
aside .sidebar a:hover{
    color: var(--color-dark);
}
aside .sidebar a:hover span{
    margin-left: 1rem;
}

/*======================Main===================*/
main{
    margin-top: 1.4rem;
}

main .date{
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}
main .date input[type="date"]{
    background: transparent;
    color: var(--color-dark);
}
main .insights{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}
main .insights > div{
    background: var(--color-white);
    padding:  var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights > div:hover{
    box-shadow: none;
}
main .insights .progress{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}
main .insights small{
    margin-top:1.6rem;
    display: block;
}

/*==================RECENT ORDERS================*/
main .recent-orders{
    margin-top: 2rem;
}
main .recent-orders h2{
    margin-bottom: 0.8rem;
}
main .recent-orders table{
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
main .recent-orders table:hover{
    box-shadow: none;
}
main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}
main table tbody tr:last-child td{
    border: none;
}
main .recent-orders a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

/*================= RIGHT =================*/
.right{
    margin-top: 1.4rem;
}
.right .top{
    display: flex;
    justify-content: end;
    gap: 2rem;
}
.right .top button{
    display: none;
}
.right .top .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}

/*================ RECENT UPDATE =================*/
.right .recent-updates{
    margin-top: 1rem;
}
.right .recent-updates h2{
    margin-bottom: 0.8rem;
}
.right .recent-updates .updates{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
.right .recent-updates .updates:hover{
    box-shadow: none;
}
.right .recent-updates .updates .update{
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

/*=============== SALES ANALYTICS ===============*/
.right .sales-analytics{
    margin-top: 2rem;
}

.right .sales-analytics h2{
    margin-bottom: 0.8rem;
}
.right .sales-analytics .item{
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
.right .sales-analytics .item:hover{
    box-shadow: none;
}
.right .sales-analytics .item .right{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}
.right .sales-analytics .add-product{
    background-color: transparent;
    border: 2px dashed var(--color-dark);
    color: var(--color-dark);
    display: flex;
    align-items: center;
    justify-content: center;
}
.right .sales-analytics .add-product div{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
.right .sales-analytics .add-product div h3{
    font-weight: 600;
}
/*=============== ADD PRODUCT ================= */
.item2{
    margin-left: 10rem;
    margin-top: 10rem;
    background: var(--color-white);
    display: flex;
    align-items: center;
    margin-bottom: 10rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
.add-product2{
    background-color: transparent;
    border: 2px dashed var(--color-dark);
    color: var(--color-dark);
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-product2 div{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
.add-product2 div h3{
    font-weight: 600;
}
.item2:hover{
    box-shadow: none;
}
/*================= PRODUCT ==============*/
main .insights2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.3rem;
    
}
main .insights2 > div{
    background: var(--color-white);
    padding:  var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 5rem;
    height: 16.5rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights2 > div:hover{
    box-shadow: none;
}
.add{
    background-color: transparent;
    border: 2px dashed var(--color-dark);
    color: var(--color-dark);
    display: flex;
    align-items: center;
    justify-content: center;
}
/*================= ORDER ===================*/
.recent-updates a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}
/*================= ANALYTICS =================*/
.graph{
    margin-left: 1.5rem;
    margin-top: 1.8rem;
    background: var(--color-white);
    display: flex;
    height: 50rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
main .date2{
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 3rem;
    padding: 0.5rem 1.6rem;
    margin-left: 76.5rem;
}
main .date2 input[type="date"]{
    background: transparent;
    color: var(--color-dark);
}
.right .insights{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.6rem;
}
.right .insights > div{
    background: var(--color-white);
    padding:  var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
   
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .insights > div:hover{
    box-shadow: none;
}
/*================== CUSTOMER ====================*/
.customer2{
    height: 12rem;
    margin-top: 3rem;
    padding: var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
.customer2 h1{
    border-bottom: 1px solid
}
.customer2:hover{
    box-shadow: none;
}
main .customer2 table{
    padding-top: 1rem;
    width: 100%;
    text-align: center;
}
main .customer2 table tbody td{
    height: 2.8rem;
    font-weight: 800;
    color: black; 
}
main .customer2 table thead tr th{
    font-size:20px ;
}
/*================== REPORT ===============*/
.report{
    margin-left:3rem ;
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    padding: var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
}

.report form{
   text-align: center;
}

.report form h3{
   margin-bottom: 1rem;
   border-radius: .5rem;
   padding: 1.2rem;
   color: var(--main-color);
   background-color: var(--sub-color);
   font-size: 2.2rem;
   text-transform: capitalize;
}

.report form .box{
    padding: 1rem 0;
    margin: 1rem 0;
    font-size: 1.8rem;
    width: 100%;
    border-radius: var(--border-radius-3);
}
.report form textarea{
   height: 15rem;
   resize: none;
}
.btn{
   background-color: #898da3;
   padding: 10px 30px;
   cursor: pointer;
   display: block;
   margin: auto;
   border: 0;
   outline: none;
   border-radius: 30px;
   border-radius: var(--border-radius-3);
   box-shadow: var(--box-shadow);
   transition: all 300ms ease;
}
.btn:hover{
    box-shadow: none;
}
